<nu-flex flow="column" gap="4x" padding="4x 2x"
responsive="1160px|768px|425px" text="w5" fill="subtle" height="min(100vh)">
<!-- <nu-flex flow="column" items="center" gap="4x" padding="4x 0"
responsive="1160px|768px|425px" text="w5" fill="subtle" height="min(100vh)"> -->
  <nu-theme hue="#7749e0"></nu-theme>

  <nu-block width="clamp(initial, 90%, 1440px)" grow="1">
    <router-outlet></router-outlet>
  </nu-block>

  <nu-block text="w4 center">
    made w/love and
      <nu-link to="!https://numl.design/" text="w5">NuML</nu-link>
    by
      <nu-link to="!https://github.com/katrinLuna" text="w5">Katrin Luna</nu-link>
  </nu-block>
</nu-flex>


 <!-- меню вынести в отдельный компонент в целом-->



  <!-- <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>New Component</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      <span>Add Dependency</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      <span>Run and Watch Tests</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <span>Build for Production</span>
    </div>
  </div> -->

  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build --prod</pre>
  </div> -->

